== ---
layout: base
title: 工作机会
language: zh
permalink: /加入/
== ---
= "\n\n"

%div<>
  = "{% include welcome.html %}"

.page<>
  .container<>
    .title<>
      %h2<> Why work at ApplySquare?
      %p<>
        %div<> 工作地点可选；
        %div<> 海外调动的家庭安置；
        %div<> 北美交流、访问与工作的机会；
        %div<> 拓展在国内外高校的人际网络；
        %div<> 舒适且积极的工作环境；
        %div<> 健康第一的病假理念；
        %div<> 定期的环球旅行计划。

  .page-content<>
    .container<>
      %table.table.table-hover.jobs.js-jobs<>
        %thead<>
          %tr<>
            %td.col-md-5<> 职位名称
            %td.col-md-2<> 工作类型
            %td.col-md-3<> 工作地点
            %td.col-md-2<> 工作属性
        %tbody<>
          = "{% for job in site.data.jobs %}"
          = "{% if job.language == page.language %}"
          %tr.js-jobs{"data-job-title" => "{{ job.title }}"}<>
            %td.col-md-5<> {{ job.title }}
            %td.col-md-2<> {{ job.category }}
            %td.col-md-3<> {{ job.location }}
            %td.col-md-2<> {{ job.type }}
          %tr.jobs-details.js-jobs-details.hide{"data-job-title" => "{{ job.title }}"}<>
            %td{colspan: 4}<>
              %div<>
                %strong<> 职位描述
                %div<> {{ job.description | markdownify }}
              %strong<> 任职要求
              = "{% for requirement in job.requirements %}"
              %div<> {{ requirement }}
              = "{% endfor %}"
          = "{% endif %}"
          = "{% endfor %}"

  .container<>
    .title<>
      %h2<> How to apply?
      %p<> {{ '请将个人简历发至 <hr@applysquare.com>，邮件标题为： 姓名+专业+毕业院校+申请职位' | markdownify }}
