== ---
layout: base
title: 联系
language: zh
permalink: /联系/
== ---
= "\n\n"

= "{% include welcome.html %}"

.contact<>
  .contact-content<>
    .container<>
      .title<>
        %h2<> 联系
        %p<> 如需联系申请方, 最简单的方式是通过在本页下方的评论框内发表公开的留言. 您也可以直接给我们发送电子邮件. 电子邮件可以不加密.

  .contact-pgp<>
    .container<>
      = "{% for contact in site.data.contact %}"
      = "{% if contact.language == page.language %}"
      %pre<> {{ contact.pgp }}
      = "{% endif %}"
      = "{% endfor %}"

  .contact-disqus<>
    .container<>
      = "{% include disqus.html %}"
