== ---
layout: base
title: 隐私权保护声明
language: zh
permalink: /隐私权保护声明/
== ---
= "\n\n"

%div<>
  = "{% include welcome.html %}"

.page
  .container<>
    .title<>
      %h2<> 申请方隐私权保护声明

  .page-content<>
    .container
      = "{% for privacy in site.data.privacy %}"
      = "{% if privacy.language == page.language %}"
      %div<> {{ privacy.content | markdownify }}
      = "{% endif %}"
      = "{% endfor %}"

