%li.post<>
  %a{href: "{{ include.post.url }}"}<>
    = "{% if include.post.language == 'zh' %}"
    %strong<> {{ include.post.date | date: '%Y 年 %m 月 %d 日' }}
    = "{% else %}"
    %strong<> {{ include.post.date | date_to_long_string }}
    = "{% endif %}"
    %h1<> {{ include.post.title }}
    = "{% if include.post.subtitle %}"
    %h2<> {{ include.post.subtitle }}
    = "{% else %}"
    %h2<> {{ include.post.excerpt | markdownify | strip_html | strip_newlines | truncatewords: 20, ' ...' }}
    = "{% endif %}"